<div class="dashboard">

  <div class="main d-flex">
    <aside>
      <nav>
        <div class="sidebar-brand" aria-label="TripSecure AgriFinance">
          <strong>TripSecure</strong>
          <span>AgriFinance</span>
        </div>

        <a
          [routerLink]="['home']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">grid_view</span>
          Dashboard
        </a>
        <a [routerLink]="['farmers']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">people</span>
          My Farmers
        </a>
        <a [routerLink]="['visits']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">calendar_month</span>
          Visit Schedule
        </a>
        <a [routerLink]="['insurance']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">notifications</span>
          warning
        </a>
       
      </nav>
    </aside>
    <div class="w-100">
         <nav>
    <app-navbar />
  </nav>
  <div class="content">
    <router-outlet />
  </div>
    </div>
  </div>
</div>



