<nav class="navbar shadow-sm">
  <div class="logo" [routerLink]="['/']"></div>

  <span class="options__info">
    <div class="options__info__label">
      <img [src]="'images/initial_profile.png'" alt="Profile Picture" class="profile-image" />
    </div>
    <button
      type="button"
      class="options__info__name bg-transparent border-0 p-0"
      (click)="accountMenu.toggle($event)"
      aria-label="Toggle account menu"
    >
      <p class="user__name">{{ displayName() }}</p>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <p-menu #accountMenu [model]="accountMenuItems" [popup]="true" [appendTo]="'body'">
      <ng-template pTemplate="item" let-item>
        <button
          type="button"
          class="p-menu-item-link w-100 d-flex align-items-center gap-2 border-0 bg-transparent text-start py-2 px-3 text-secondary"
          (click)="item.command ? item.command($event) : null"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span>{{ item.label }}</span>
        </button>
      </ng-template>
    </p-menu>
  </span>
</nav>
