<div class="dashboard">
  <div class="main d-flex">
    <aside>
      <nav>
        <div class="sidebar-brand" aria-label="TripSecure AgriFinance">
          <strong>TripSecure</strong>
          <span>AgriFinance</span>
        </div>

        <a
          [routerLink]="['farmers']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-symbols-outlined">agriculture</span>
          Farmers
        </a>
        <a [routerLink]="['loans']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">request_quote</span>
          Loans
        </a>
        <a [routerLink]="['agri-loans']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">verified_user</span>
          Insurance
        </a>
        <a [routerLink]="['extension-officers']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">supervisor_account</span>
          Ext Officers
        </a>
        <a [routerLink]="['input-service-providers']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">supervisor_account</span>
          IS Providers
        </a>
        <a [routerLink]="['transactions']" routerLinkActive="active-link">
          <span class="material-symbols-outlined">assessment</span>
          Reports
        </a>
      </nav>
    </aside>
    <div class="w-100">
      <nav>
        <app-navbar />
      </nav>
      <div class="content">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
